.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto; /* Allow the modal content to scroll */
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: opacity 0.3s ease;
}

/* Optional: Hide scrollbar for this container */
.modal-overlay::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.modal-container {
  scrollbar-width: none; /* Firefox */
}

.modal-content {
  background: #0d1e2f;
  color: #fefffe;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  z-index: 1001;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

}

.modal-container {
  color: #fefffe;
  display: flex;
  flex-direction: column;
}


/* Preserve the scrollbar width */
body.modal-open {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

:root {
  --scrollbar-width: 0px;
}

/* Detect scrollbar width and apply it */
@media (min-width: 1024px) {
  body.modal-open::before {
    content: "";
    display: block;
    width: calc(100vw - 100%);
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    pointer-events: none;
    visibility: hidden;
    --scrollbar-width: calc(100vw - 100%);
  }
}

.modal-overlay {
  /* Ensure modal takes care of scrolling within itself */
  overflow-y: auto;
  overflow-x: hidden;
}


/* Animation for larger viewports */
@media (min-width: 769px) {
  .modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }

  .modal-content {
    /*transform: scale(1);*/
    opacity: 1;
    max-height: 90%;
    min-width: 300px;
  }

  .modal-container {
    color: #fefffe;
    flex-direction: column;
    position: relative;
    bottom: unset;
    left: unset;
    right: unset;
  }
}

/* Animation for smaller viewports */
@media (max-width: 960px) {
  .modal-overlay {
    opacity: 1;
  }

  .modal-content {
    animation: showBottom 0.25s ease forwards;
  }

  .modal-overlay[data-closing="true"] .modal-content {
    animation: hideBottom 0.25s ease forwards;
  }
}

@media (min-width: 961px) {
  .modal-content {
    min-width: 400px
  }
}

@keyframes showBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes hideBottom {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}