.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: opacity 0.3s ease;
}

.modal-content {
  background: #0d1e2f;
  color: #fefffe;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  z-index: 1001;
  max-width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

}

.modal-container {
  color: #fefffe;
  display: flex;
  flex-direction: column;
}

/* Animation for larger viewports */
@media (min-width: 769px) {
  .modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }

  .modal-content {
    /*transform: scale(1);*/
    opacity: 1;
    max-height: 90%;
    min-width: 300px;
  }

  .modal-container {
    color: #fefffe;
    flex-direction: column;
    position: relative;
    bottom: unset;
    left: unset;
    right: unset;
  }
}

/* Animation for smaller viewports */
@media (max-width: 960px) {
  .modal-overlay {
    opacity: 1;
  }

  .modal-content {
    animation: showBottom 0.25s ease forwards;
  }

  .modal-overlay[data-closing="true"] .modal-content {
    animation: hideBottom 0.25s ease forwards;
  }
}

@media (min-width: 961px) {
  .modal-content {
    min-width: 400px
  }
}

@keyframes showBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes hideBottom {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}