:root {
  --scrollbar-width: 0px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  transition: opacity 0.3s ease;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

/* Optional: Hide scrollbar for this container */
.modal-overlay::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.modal-container {
  scrollbar-width: none; /* Firefox */
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}

.modal-content {
  background: #0d1e2f;
  padding: 20px;
  border-radius: 8px;
  z-index: 1001;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  width: 100%;
}

body.modal-open {
  overflow: hidden;
  padding-right: var(--scrollbar-width);
}

/* Mobile styles (up to 768px) */
@media (max-width: 768px) {
  .modal-overlay {
    align-items: flex-end;
  }

  .modal-content {
    height: 70vh; /* Set a fixed height */
    border-radius: 16px 16px 0 0;
    animation: showBottom 0.25s ease forwards;
    overflow-y: auto; /* Allow scrolling if content exceeds the height */
    display: flex;
    flex-direction: column
  }

  .modal-container {
    height: 100%; /* Take up full height of container */
    min-height: 400px; /* Ensure a minimum height */
  }

  .modal-overlay[data-closing="true"] .modal-content {
    animation: hideBottom 0.25s ease forwards;
  }
}

/* Animation for larger viewports */
@media (min-width: 769px) {
  .modal-overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }

  .modal-content {
    opacity: 1;
    max-height: 90vh;
    min-width: 300px;
    max-width: 600px; /* Adjust this value as needed */
    width: auto;
    transform: none;
    animation: showModal 0.3s ease-out;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: unset;
    left: unset;
    right: unset;
  }

  .modal-overlay[data-closing="true"] .modal-content {
    animation: hideModal 0.2s ease-in forwards;
  }
}

@keyframes showModal {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes hideModal {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@keyframes showBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes hideBottom {
  from {
    opacity: 1;
    transform: translateY(0%);
  }
  to {
    opacity: 0;
    transform: translateY(100%);
  }
}

/* Detect scrollbar width and apply it */
@media (min-width: 1024px) {
  body.modal-open::before {
    content: "";
    display: block;
    width: calc(100vw - 100%);
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    pointer-events: none;
    visibility: hidden;
    --scrollbar-width: calc(100vw - 100%);
  }
}